#marquee {
  padding: 50px 0px;
  /* width: 500px; */
}

#marquee .marquee-container {
  overflow: hidden;
  width: 100%;
  
}

#marquee .pic-container {
  display: flex;
  gap: 4rem;
  animation: marquee 15s infinite linear;
 
}

/* #marquee:hover {
    animation-play-state: paused;
} */

#marquee .pic-container .pic {
  flex-basis: 25%;
  flex-shrink: 0;
  /* border: 1px solid #e5e7eb; */
padding: 10px;
}

#marquee img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.Img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: 1px solid #e5e7eb;
}
@media (max-width: 1024px) {
  #marquee .pic-container .pic {
    flex-basis: 25%;
  }
}

@media (max-width: 768px) {
  #marquee .pic-container .pic {
    flex-basis: 33.33%;
  }
}


/* 4k */
@media (max-width: 2560px) {
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-147%);
    }
  }
}

@media (max-width: 1440px) {
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-147.5%);
    }
  }
}

/* laptop sized */
@media (max-width: 1024px) {
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-156.5%);
    }
  }
}
/* tabalt size */
@media (max-width: 768px) {
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-208.5%);
    }
  }
}
/* large size mobile */
@media (min-width:320) and (max-width: 426px) {
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-242%);
    }
  }
}
/* mid size phone */
@media (min-width:320) and (max-width: 376px) {
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-252%);
    }
  }
}
/* Small  mobile */
@media (max-width: 320px) {
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-267.5%);
    }
  }
}

/* 2k sized */



